body {
    background-color: #b9cde7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #032981; 
}

.navbar {
    background: transparent;
    padding: 20px 0;
}

.nav-link {
    color: #032981;
    font-weight: 600;
}

.home-main-img {
    width: 100%;
    height: auto;
}

.profile-img {
    width: 240px;
    border-radius: 8px;
}



.portfolio-section {
    padding: 80px 0;
}

.section-title {
    font-size: 24px;
    font-weight: 800;
    color: #032981;
    margin-bottom: 40px;
}

.portfolio-row {
    margin-bottom: 60px;
    align-items: center;
}

.portfolio-img {
    width: 100%;
    max-width: 380px;
    border-radius: 4px;
}

.contact-title {
    font-size: 48px;
    font-weight: 700;
    color: #032981;
}

.contact-name {
    color: #032981;
    font-size: 22px;
    font-weight: 700;
    margin-top: 20px;
}

.social-icons .icon {
    width: 36px;
    margin-right: 12px;
    transition: 0.3s;
}
.back-link {
    font-weight: 600;
    text-decoration: none;
    color: #003366;
    display: inline-block;
    margin: 10px 0 30px 0;
}

.section {
    margin-bottom: 60px;
}

.hero-img {
    width: 350px;
    display:block;
    margin-bottom: 20px;
}

.hero-small {
    width: 180px;
    margin-bottom: 20px;
}

.description {
    max-width: 600px;
    margin-bottom: 25px;
    line-height: 1.4;
}

.row-img {
    width: 30%;
    margin-right: 5px;
}

.full-row {
    width: 100%;
    margin: 20px 0;
}



.grid img {
    width: 100%;
    border-radius: 4px;
}

.branding-header {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 40px 0;
}

.branding-header img {
    width: 350px;
    height: auto;
    border-radius: 6px;
}

.branding-text {
    max-width: 700px;
    font-size: 18px;
    line-height: 1.6;
}

.branding-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.branding-grid img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.back-link {
    display: inline-block;
    margin: 15px 0 30px 0;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #032981;
}


.section {
    margin-top: 60px;
}



